<section class="h-screen relative  overflow-hidden justify-center snap-start">
  <div class="rtl grid grid-rows-2 h-screen" id="samples">
    <div class="grid grid-rows-3 max-[380px]:grid-rows-5">
      <div class="flex row-span-1 max-md:row-span-2 max-[380px]:row-start-2 max-md:self-center bg-gradient-to-l from-gray-100 self-end rounded-2xl p-10 justify-self-start mr-[10%] h-2/4 max-md:max-h-[40%]">
        <h1 class="text-4xl max-[820px]:text-2xl max-[380px]:text-lg self-center">إعادة صيانـــة وتأهيل قصر الشـــيخ زايد للأعمال الإلكتروميكانيكية .</h1>
      </div>
      <div class="grid grid-flow-col row-span-2 max-md:row-span-1 max-[380px]:row-span-2 max-[380px]:row-start-4 max-md:items-end items-center gap-24 max-md:gap-[5%] justify-center mx-[5%]">
        <%= image_tag 's2', class:"rounded-lg w-80 max-md:w-60 border-4 border-secondary shadow-3xl"%>
        <%= image_tag 's1', class:"rounded-lg w-80 max-md:w-60 border-4 border-secondary max-sm:hidden shadow-3xl"%>
        <%= image_tag 's3', class:"rounded-lg w-80 border-4 border-secondary max-[820px]:hidden shadow-3xl"%>
      </div>
    </div>
    <div class="grid grid-rows-3" >
      <div class="flex row-span-1 bg-gradient-to-l from-gray-100 self-end rounded-2xl p-10 justify-self-start mr-[10%] h-2/4">
        <h1 class="text-4xl max-[820px]:text-2xl max-[380px]:text-lg self-center">الأعمال الإلكتوميكانيكية لمشروع المراعي</h1>
      </div>   
      <div class="grid grid-flow-col gap-24 justify-center row-span-2 max-md:gap-[5%] items-center mx-[5%]">
        <%= image_tag 's4', class:"rounded-lg w-80 max-md:w-60 border-4 border-secondary shadow-3xl"%>
        <%= image_tag 's5', class:"rounded-lg w-80 max-md:w-60 border-4 border-secondary max-sm:hidden shadow-3xl"%>
        <%= image_tag 's6', class:"rounded-lg w-80 border-4 border-secondary max-[820px]:hidden shadow-3xl"%>
      </div>
  </div>
</section>
<section class="h-screen relative overflow-hidden justify-center items-center snap-start">
  <div class="rtl grid grid-rows-2 h-screen" id="samples">
    <div class="grid grid-rows-3 max-[380px]:grid-rows-5">
      <div class="flex row-span-1 max-md:row-span-2 max-[380px]:row-start-2 max-md:self-center bg-gradient-to-l from-gray-100 self-end rounded-2xl p-10 justify-self-start mr-[10%] h-2/4 max-md:max-h-[40%]">
        <h1 class="text-4xl max-[820px]:text-2xl max-[380px]:text-lg self-center">تأسيس معرض أنساج في جدة</h1>
      </div>
      <div class="grid grid-flow-col row-span-2 max-md:row-span-1 max-[380px]:row-span-2 max-[380px]:row-start-4 max-md:items-end items-center gap-24 max-md:gap-[5%] justify-center mx-[5%]">
        <%= image_tag 's7', class:"rounded-lg w-80 max-md:w-60 border-4 border-secondary shadow-3xl"%>
        <%= image_tag 's8', class:"rounded-lg w-80 max-md:w-60 border-4 border-secondary max-sm:hidden shadow-3xl"%>
        <%= image_tag 's9', class:"rounded-lg w-80 border-4 border-secondary max-[820px]:hidden shadow-3xl"%>
      </div>
    </div>
    <div class="grid grid-rows-3">
      <div class="flex row-span-1 bg-gradient-to-l from-gray-100 self-end rounded-2xl p-10 justify-self-start mr-[10%] h-2/4">
        <h1 class="text-4xl max-[820px]:text-2xl max-[380px]:text-lg self-center">تشطيب مطعم خلود</h1>
      </div>   
      <div class="grid grid-flow-col gap-24 justify-center row-span-2 max-md:gap-[5%] items-center mx-[5%]">
        <%= image_tag 's10', class:"rounded-lg w-80 max-md:w-60 border-4 border-secondary shadow-3xl"%>
        <%= image_tag 's11', class:"rounded-lg w-80 max-md:w-60 border-4 border-secondary max-sm:hidden shadow-3xl"%>
        <%= image_tag 's12', class:"rounded-lg w-80 border-4 border-secondary max-[820px]:hidden shadow-3xl"%>
      </div>
  </div>
</section>
<section class="h-screen relative overflow-hidden justify-center items-center snap-start">
  <div class="rtl grid grid-rows-2 h-screen" id="samples">
    <div class="grid grid-rows-3 max-[380px]:grid-rows-5">
      <div class="flex row-span-1 max-md:row-span-2 max-[380px]:row-start-2 max-md:self-center bg-gradient-to-l from-gray-100 self-end rounded-2xl p-10 justify-self-start mr-[10%] h-2/4 max-md:max-h-[40%]">
        <h1 class="text-4xl max-[820px]:text-2xl max-[380px]:text-lg self-center">أنظمة المراقبة</h1>
      </div>
      <div class="grid grid-flow-col row-span-2 max-md:row-span-1 max-[380px]:row-span-2 max-[380px]:row-start-4 max-md:items-end items-center gap-24 max-md:gap-[5%] justify-center mx-[5%]">
        <%= image_tag 's13', class:"rounded-lg w-80 max-md:w-60 border-4 border-secondary shadow-3xl"%>
        <%= image_tag 's14', class:"rounded-lg w-80 max-md:w-60 border-4 border-secondary max-sm:hidden shadow-3xl"%>
        <%= image_tag 's15', class:"rounded-lg w-80 border-4 border-secondary max-[820px]:hidden shadow-3xl"%>
      </div>
    </div>
    <div class="grid grid-rows-3">
      <div class="flex row-span-1 bg-gradient-to-l from-gray-100 self-end rounded-2xl p-10 justify-self-start mr-[10%] h-2/4">
        <h1 class="text-4xl max-[820px]:text-2xl max-[380px]:text-lg self-center">أعمال التأسيس</h1>
      </div>   
      <div class="grid grid-flow-col gap-24 justify-center row-span-2 max-md:gap-[5%] items-center mx-[5%]">
        <%= image_tag 's16', class:"rounded-lg w-80 max-md:w-60 border-4 border-secondary shadow-3xl"%>
        <%= image_tag 's17', class:"rounded-lg w-80 max-md:w-60 border-4 border-secondary max-sm:hidden shadow-3xl"%>
      </div>
  </div>
</section>

<section class="h-screen relative overflow-hidden justify-center items-center snap-start">
  <div class="rtl grid grid-rows-2 h-screen" id="samples">
    <div class="grid grid-rows-3 max-[380px]:grid-rows-5">
      <div class="flex row-span-1 max-md:row-span-2 max-[380px]:row-start-2 max-md:self-center bg-gradient-to-l from-gray-100 self-end rounded-2xl p-10 justify-self-start mr-[10%] h-2/4 max-md:max-h-[40%]">
        <h1 class="text-4xl max-[820px]:text-2xl max-[380px]:text-lg self-center">مكاتب إدارية</h1>
      </div>
      <div class="grid grid-flow-col row-span-2 max-md:row-span-1 max-[380px]:row-span-2 max-[380px]:row-start-4 max-md:items-end items-center gap-24 max-md:gap-[5%] justify-center mx-[5%]">
        <%= image_tag 's18', class:"rounded-lg w-80 max-md:w-60 border-4 border-secondary shadow-3xl"%>
        <%= image_tag 's19', class:"rounded-lg w-80 max-md:w-60 border-4 border-secondary max-sm:hidden shadow-3xl"%>
        <%= image_tag 's20', class:"rounded-lg w-80 border-4 border-secondary max-[820px]:hidden shadow-3xl"%>
      </div>
    </div>
    <div class="grid grid-rows-3">
      <div class="flex row-span-1 bg-gradient-to-l from-gray-100 self-end rounded-2xl p-10 justify-self-start mr-[10%] h-2/4">
        <h1 class="text-4xl max-[820px]:text-2xl max-[380px]:text-lg self-center">مجموعة بن لادن</h1>
      </div>   
      <div class="grid grid-flow-col gap-24 justify-center row-span-2 max-md:gap-[5%] items-center mx-[5%]">
        <%= image_tag 's21', class:"rounded-lg w-80 max-md:w-60 border-4 border-secondary shadow-3xl"%>
        <%= image_tag 's22', class:"rounded-lg w-80 max-md:w-60 border-4 border-secondary max-sm:hidden shadow-3xl"%>
      </div>
  </div>
</section>
<section class="h-screen relative overflow-hidden justify-center items-center snap-start">
  <div class="rtl grid grid-rows-2 h-screen" id="samples">
    <div class="grid grid-rows-3 max-[380px]:grid-rows-5">
      <div class="flex row-span-1 max-md:row-span-2 max-[380px]:row-start-2 max-md:self-center bg-gradient-to-l from-gray-100 self-end rounded-2xl p-10 justify-self-start mr-[10%] h-2/4 max-md:max-h-[40%]">
        <h1 class="text-4xl max-[820px]:text-2xl max-[380px]:text-lg self-center">محمد يوسف ناغي للسيارات</h1>
      </div>
      <div class="grid grid-flow-col row-span-2 max-md:row-span-1 max-[380px]:row-span-2 max-[380px]:row-start-4 max-md:items-end items-center gap-24 max-md:gap-[5%] justify-center mx-[5%]">
        <%= image_tag 's23', class:"rounded-lg w-80 max-md:w-60 border-4 border-secondary shadow-3xl"%>
        <%= image_tag 's24', class:"rounded-lg w-80 max-md:w-60 border-4 border-secondary max-sm:hidden shadow-3xl"%>
      </div>
    </div>
    <div class="grid grid-rows-3">
      <div class="flex row-span-1 bg-gradient-to-l from-gray-100 self-end rounded-2xl p-10 justify-self-start mr-[10%] h-2/4">
        <h1 class="text-4xl max-[820px]:text-2xl max-[380px]:text-lg self-center">الخطوط السعودية للتموين</h1>
      </div>   
      <div class="grid grid-flow-col gap-24 justify-center row-span-2 max-md:gap-[5%] items-center mx-[5%]">
        <%= image_tag 's25', class:"rounded-lg w-80 max-md:w-60 border-4 border-secondary shadow-3xl"%>
        <%= image_tag 's26', class:"rounded-lg w-80 max-md:w-60 border-4 border-secondary max-sm:hidden shadow-3xl"%>
      </div>
  </div>
</section>
<section class="h-screen relative overflow-hidden justify-center items-center snap-start">
  <div class="rtl grid grid-cols-1 grid-rows-6 h-screen" id="samples">
    <div class="flex row-span-1 max-md:row-span-2 max-[380px]:row-start-2 max-[900px]:row-start-1 max-md:self-center bg-gradient-to-l from-gray-100 self-end rounded-2xl p-10 justify-self-start mr-[10%] h-2/4 max-md:max-h-[40%]">
      <h1 class="text-4xl max-[820px]:text-2xl max-[380px]:text-lg self-center font-bold">أعمال متنوعة</h1>
    </div>
    <div class="grid lg:grid-cols-3 max-[900px]:grid-cols-1 md:grid-cols-2 grid-rows-3 max-[900px]:row-start-3 row-span-5 gap-10 max-[900px]:gap-2 items-start justify-items-center mx-[5%]">
      <%= image_tag 's27', class:"rounded-lg w-72 max-[900px]:w-60 border-4 border-secondary shadow-3xl justify-self-end max-lg:justify-self-center"%>
      <%= image_tag 's28', class:"rounded-lg w-72 max-[900px]:w-60 border-4 border-secondary shadow-3xl"%>
      <%= image_tag 's29', class:"rounded-lg w-72 max-[900px]:w-60 border-4 border-secondary shadow-3xl justify-self-start max-lg:justify-self-center"%>
      <%= image_tag 's30', class:"rounded-lg w-72 max-[900px]:w-60 border-4 border-secondary shadow-3xl justify-self-end max-md:hidden max-lg:justify-self-center"%>
      <%= image_tag 's31', class:"rounded-lg w-72 max-[900px]:w-60 border-4 border-secondary shadow-3xl max-md:hidden"%>
      <%= image_tag 's32', class:"rounded-lg w-72 max-[900px]:w-60 border-4 border-secondary shadow-3xl justify-self-start max-md:hidden max-lg:justify-self-center"%>
      <%= image_tag 's33', class:"rounded-lg w-72 max-[900px]:w-60 border-4 border-secondary shadow-3xl justify-self-end max-lg:hidden"%>
      <%= image_tag 's34', class:"rounded-lg w-72 max-[900px]:w-60 border-4 border-secondary shadow-3xl max-lg:hidden"%>
      <%= image_tag 's35', class:"rounded-lg w-72 max-[900px]:w-60 border-4 border-secondary shadow-3xl justify-self-start max-lg:hidden"%>
    </div>
  </div>
</section>
<section class="h-screen relative overflow-hidden justify-center items-center snap-start">
  <div class="rtl grid h-screen" id="samples">
    <div class="grid grid-rows-4">
      <div class="flex row-span-1 bg-gradient-to-l from-gray-100 self-center rounded-2xl p-10 justify-self-start mr-[10%] h-1/2 w-2/3">
        <h1 class="text-4xl max-[820px]:text-2xl max-[380px]:text-lg self-center font-bold">أعمال اخرى</h1>
      </div>
      <div class="grid grid-rows-3 row-span-3 items-center">
        <div class="flex row-span-1 bg-gradient-to-l from-gray-100 self-center rounded-2xl p-10 justify-self-start mr-[25%] w-2/3">
          <h1 class="text-4xl max-[820px]:text-2xl max-[380px]:text-lg self-center">مستشفى فقيه</h1>
        </div>
        <div class="flex row-span-1 bg-gradient-to-l from-gray-100 self-center rounded-2xl p-10 justify-self-start mr-[25%] w-2/3">
          <h1 class="text-4xl max-[820px]:text-2xl max-[380px]:text-lg self-center">سمير عباس</h1>
        </div>
        <div class="flex row-span-1 bg-gradient-to-l from-gray-100 self-center rounded-2xl p-10 justify-self-start mr-[25%] w-2/3">
          <h1 class="text-4xl max-[820px]:text-2xl max-[380px]:text-lg self-center">هاله بن لادن</h1>
        </div>
      </div>
    </div>
  </div>
</section>




