<div class="snappy">
  <%= render 'navbar' %>
  <section class="section" id="home">
    <%= image_tag "LogoAndName.png", id:"logo-img" %>
    <%= image_tag "pattrenFull.png", class:"pattren" %>
  </section>
  <section class="section" id="projects">
    <h1 class="color-danger">Projects</h1>
    <%= image_tag "pattrenFull.png", class:"pattren" %>
  </section>
  <section class="section" id="view">
    <h1>View</h1>
    <%= image_tag "pattrenFull.png", class:"pattren" %>
  </section>
  <section class="section" id="about-us">
    <h1>About Us</h1>
    <%= image_tag "halfPattern.png", class:"pattren", id:"end-pattern" %>
  </section>
</div>