<div class="snappy">
  <%= render 'navbar' %>
  <!-- <section class="h-screen relative grid overflow-hidden justify-center items-center snap-start grid-rows-4 grid-cols-2 " id="home">
    <%= render 'home' %>
    <%= image_tag "sideBuilding.png", class:"absolute right-0 bottom-0 h-5/6 max-h-screen opacity-70 max-lg:hidden"%>
    <%= image_tag "PatternColored.png", class:"absolute w-screen overflow-hidden bottom-0 opacity-40 z-1 max-md:hidden row-span-1" %>
  </section> 
  <section class="rtl h-screen relative flex flex-col gap-10 max-lg:gap-4 overflow-hidden justify-center items-center snap-start " id="us">
   <h1 class="text-7xl max-2xl:text-[300%] max-md:text-[200%] font-bold self-start mr-[10%] mt-20 max-md:mx-[5%] max-md:mt-16">من نحن؟</h1>
   <h2 class="text-5xl max-2xl:text-[200%] max-md:text-[150%] self-start mr-[10%] mt-14 max-md:mx-[5%] max-lg:mt-8">شركة <span class="font-bold"> RGC </span>بين سطور رؤية 2030</h2>
   <p class="text-4xl  max-2xl:text-[150%] max-md:text-[100%] self-start mr-[10%] mt-7  max-md:mx-[5%] leading-relaxed max-sm:leading-loose">
    لقـــد جاءت رؤيـــة 2030 لتعطينا فرصة تحســـين <span class="font-bold"> جودة </span> الحيـــاة، وأضاءت لنا
    <br class="max-md:hidden"> الطريـــق لنســـعى لتقديـــم جميع ســـبل <span class="font-bold"> الراحة </span> فـــي حيـــاة المجتمع السعودي.. <br> 
    <br class="max-md:hidden"> وبناء على ذلك أردتنا آن تكون لنا رؤيتنا الخاصة في تحسين طرق البنـــاء،
    <br class="max-md:hidden"> <span class="font-bold"> مواكبة </span> الجديـــد التقني وتوظيفه فـــي كافة عمليات البناءالعقاري،
    <br class="max-md:hidden">وهذاما يجعلنا نتبع وســـائل التجديد لنكون <span class="font-bold"> سباقين </span> لبناء 
    <br class="max-md:hidden">كل ما يضيف قيمة لحياة الفرد السعودي.
   </p>
  </section>
  <section class="rtl h-screen relative grid overflow-hidden justify-center items-center snap-start text-white" id="view">
    <dl>
      <dt class="text-7xl max-lg:text-3xl underline-offset-30 max-lg:underline-offset-4 underline decoration-primary decoration-solid flow-root self-center">الرؤيــة <%= image_tag "binoculars.png", class:"ml-16 max-lg:ml-8  max-md:mr-4 size-28 max-lg:size-16 float-right" %></dt>
      <dd class="text-4xl max-lg:text-xl mt-9 max-lg:mt-4 max-md:ml-4 mb-16 max-lg:mb-8 inline-block pr-44 max-lg:pr-24 max-md:pr-28">الابتكار في مجال الأعمال العقارية.</dd>
      <dt class="text-7xl max-lg:text-3xl underline-offset-30 max-lg:underline-offset-4 underline decoration-primary decoration-solid flow-root self-center">الرسالة <%= image_tag "achievement.png", class:"ml-16 max-lg:ml-8  max-md:mr-4 size-28 max-lg:size-16 float-right" %></dt>
      <dd class="text-4xl max-lg:text-xl mt-9 max-lg:mt-4 max-md:ml-4 mb-16 max-lg:mb-8 inline-block pr-44 max-lg:pr-24 max-md:pr-28">تقديم خدمات بناء مبتكرةُ مخّصصة لتلبية حاجات العملاء.</dd>
      <dt class="text-7xl max-lg:text-3xl underline-offset-30 max-lg:underline-offset-4 underline decoration-primary decoration-solid flow-root self-center">القيم والأخلاقيات <%= image_tag "values.png", class:"ml-16 max-lg:ml-8 max-md:mr-4 size-28 max-lg:size-16 float-right" %></dt>
      <dd class="text-4xl max-lg:text-xl mt-9 max-lg:mt-4 max-md:ml-4 mb-16 max-lg:mb-8 inline-block pr-44 max-lg:pr-24 max-md:pr-28">الالتـــزام – المصداقيـــة – الجـــودة – الأمانة - الجدّية.</dd>
    </dl>
  </section>
  <section class="rtl h-screen relative grid grid-cols-3 overflow-hidden justify-center items-center snap-start" id="contacts">
    <div class="col-span-2 max-md:col-span-3 pr-36 max-lg:pr-10">
      <h1 class="text-7xl max-lg:text-3xl mb-10 underline-offset-30 max-lg:underline-offset-4 underline decoration-primary decoration-solid flow-root self-center">الاهداف</h1>
      <ol class=" flex flex-col">
        <li class="text-4xl max-lg:text-xl mt-9 max-lg:mt-4 max-md:ml-4 mb-16 max-lg:mb-4">
          ضبـــط الإنتاجيـــة وفـــق المعاييـــر
          الدولّية في مجال العقارات. 
        </li>
        <li class="text-4xl max-lg:text-xl mt-9 max-lg:mt-4 max-md:ml-4 mb-16 max-lg:mb-8">
          الحـــرص علـــى ســـلامة خطـــوات
          العمل. 
        </li>
        <li class="text-4xl max-lg:text-xl mt-9 max-lg:mt-4 max-md:ml-4 mb-16 max-lg:mb-8">
          الحفاظ على عمليات البناء.
        </li>
      </ol>
    </div>
    <%= image_tag "target.png", class:"w-max max-md:hidden" %>
  </section>
  <%= render "field" %> -->
  <%= render "projects" %>
</div>